.vagrant/
openmpi/gc/gc
openmpi/hello/hello
openmpi/mpitutorial-master/
openmpi/gc/log*
openmpi/gc/out.pgm
*.class
hadoop/exercises/
rest/
soa/workspace/
rmi/
jms/
soa/es1/
concurrency/exercises/
openmpi/hello-omp/hello
